<%= form_for :user, url: user_registration_url ,html: {id: 'registration_form', class: "form-inline"} ,method: :post  do |f| %>
  <%#= binding.pry %>
  <div class="row">
    <div class="form-group col-xs-6">
      <label for="firstname" class="sr-only">First Name</label>
      <%= f.text_field :firstname,class: "form-control input-group-lg" ,placeholder: "First name" %>
    </div>
    <div class="form-group col-xs-6">
      <label for="lastname" class="sr-only">Last Name</label>
      <%= f.text_field :lastname,class: "form-control input-group-lg" ,placeholder: "Last name" %>
    </div>
    
  </div>

  <div class="row">
    <div class="form-group col-xs-12">
      <label for="email" class="sr-only">Email</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control input-group-lg",placeholder: "Your Email" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="password" class="sr-only">Password</label>
      <%= f.password_field :password, autocomplete: "off",class: "form-control input-group-lg" ,placeholder: "Password"%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="password" class="sr-only">Password Confirmation</label>
      <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control input-group-lg" ,placeholder: "Password Confirmation"%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="email" class="sr-only">Email</label>
      <%= f.number_field :mobile_number,class: "form-control input-group-lg",placeholder: "Your Mobile Number" %>
    </div>
  </div>
  <div class="row">
    <p class="birth"><strong>Date of Birth</strong></p>
    <div class="form-group col-sm-3 col-xs-6">
      <label for="month" class="sr-only"></label>
      <select name="user[day]" class="form-control" id="day">
        <option value="Day" disabled selected>Day</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
      </select>
    </div>

    <div class="form-group col-sm-3 col-xs-6">
      <label for="month" class="sr-only"></label>
      <select name="user[month]" class="form-control" id="month">
        <option value="month" disabled selected>Month</option>
        <option>Jan</option>
        <option>Feb</option>
        <option>Mar</option>
        <option>Apr</option>
        <option>May</option>
        <option>Jun</option>
        <option>Jul</option>
        <option>Aug</option>
        <option>Sep</option>
        <option>Oct</option>
        <option>Nov</option>
        <option>Dec</option>
      </select>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
      <label for="year" class="sr-only"></label>
      <%= select_year(Date.today, {start_year: 1950, end_year: 2018}, name: 'user[year]', include_blank: true ,id: "year" ,class: "form-control")  %>
    </div>
  </div>
  <div class="form-group gender">
    <label class="radio-inline">
      <input type="radio" name="user[gender]" value="male" checked>Male
    </label>
    <label class="radio-inline">
      <input type="radio" name="user[gender]" value="female">Female
    </label>
  </div>
  <div class="row">
    <div class="form-group col-xs-6">
      <label for="city" class="sr-only">City</label>
      <input id="city" class="form-control input-group-lg reg_name" type="text" name="user[city]" title="Enter city" placeholder="Your city"/>
    </div>
    <div class="form-group col-xs-6">
      <label for="referral" class="sr-only">Referral ID </label>
    <input id="referral" class="form-control input-group-lg reg_name" type="text" name="user[referral]" readonly="true" value="<%= params[:code] %>" />
    </div>
  </div>
  <%= f.submit "Register Now" ,class: "btn btn-primary"%>
<% end %>