<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/assets/CropBox.js"></script>
<div id="page-contents">
	<div class="container">
		<div class="row">
			<%= render partial: '/home/common/navbar' %>
      <div class="col-md-7">
        <%= render template: 'post/new' %>
        <% @posts.each do |pst| %>
          <div class="post-content">
            <%# pst.images.each do |img| %>
              <%#= image_tag(img.image.url , :alt =>"post-image",class: "img-responsive post-image") %>
            <%# end %>
            <%= image_tag(pst.try(:images).try(:first).try(:image).try(:url) , :alt =>"post-image",class: "img-responsive post-image") %>
            <div class="post-container">
              <% if !pst.try(:user).try(:profile_pic).present? %>
                <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
              <% else %>
                <%= pst.user.profile_pic  %>
              <% end %>
              <div class="post-detail">
                <div class="user-info">
                  <h5><a href="timeline.html" class="profile-link"><%= "#{pst.user.try(:firstname)}"%>&nbsp;&nbsp;<%= "#{pst.user.try(:lastname)}" %></a>
                    <!-- <span class="following">following</span></h5> -->
                  <p class="text-muted">Published <%= time_ago_in_words(pst.created_at) %> ago</p>
                </div>
                <div class="reaction">
                  <a id='<%= "#{pst.id}" %>' class="btn like"><i class="icon ion-thumbsup"></i>
                  <b id='<%= "like_#{pst.id}" %>'><%= pst.likes.count %></b></a>
                  <a class="btn dislike" id='<%= "downvote_#{pst.id}" %>'><i class="fa fa-thumbs-down"></i>
                    <b id='<%= "postdownvote_#{pst.id}" %>'>

                    <%= pst.unlikes.count %></b></a>
                </div>
                <% if (current_user == pst.user) %>
                  <%= link_to "Delete" , post_url(pst.id),method: :delete %>
                <% end %>
                <div class="line-divider"></div>
                <div class="post-text">
                  <p><%= pst.try(:content) %></p>
                </div>
                <div class="line-divider"></div>
                <div id = '<%= "change_data_#{pst.id}" %>' >
                  <% @post = pst%>
                  <%= render :partial => 'post/comment' , :locals => { :post => @post } %>
                </div>
                <div class="post-comment">
                  <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm " />
                  <input type="text" class="form-control create_post" placeholder="Post a comment" id='<%= "#{pst.id }"%>'>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Newsfeed Common Side Bar Right
      ================================================= -->
			<!-- <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
          <h4 class="grey">Who to Follow</h4>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Diana Amber</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Cris Haris</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Brian Walton</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Olivia Steward</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Sophia Page</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
        </div>
      </div>
 -->		</div>
	</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".create_post").on('keyup', function (e) {
      if (e.keyCode == 13) {
        // alert(this.id);
        $.ajax({
          type: "get",
          url: "/post",
          data:{ post_id: this.id,comment: this.value},
          dataType: "script",
          complete: function () { 
            $('.create_post').val('');
          }
        });
      }
    });

    // Like on Post
    $(".like").click(function(){
      var id = this.id;
      var count1 = $("#"+this.id).text();
      var count = parseInt(count1)+1
      $.ajax({
        type: "get",
        url: "/likes",
        data:{ post_id: this.id},
        dataType: "json",
        success:function(data){
          {
            console.log(data.status);
            $("#like_"+id).text(data.count);
            if (data.status == true)
            {
              $('#'+id).addClass('text-green');
            }
            else
            {
              $('#'+id).removeClass('text-green');
            }
          }
        }
      });
    });
    //End
    // DisLike on Post
    $(".dislike").click(function(){
      var id = this.id;
      var count1 = $("#"+this.id).text();
      var count = parseInt(count1)+1
      $.ajax({
        type: "get",
        url: "/downvote",
        data:{ post_id: this.id},
        dataType: "json",
        success:function(data){
          {
            
            $("#post"+id).text(data.count);
            if (data.status == true)
            {
              console.log(data.status+"hello"+data.count+"id"+id);
              $('#'+id).addClass('text-red');
            }
            else
            {
              $('#'+id).removeClass('text-red');
            }
          }
        }
      });
    });
    //End

  });
</script>

<script type="text/javascript">
  function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");
  /* Select the text field */
  copyText.select();
  /* Copy the text inside the text field */
  document.execCommand("copy");
  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
} 
</script>
<!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script> -->
<script type="text/javascript">
  // $(document).ready(function(){
  //   $('#wallet_form_id').validate({
  //     rules: {
        

  //   "wallet[amount]": {
  //     required: true,
  //     remote: "/validate_balance"
  //   }


  //     },
  //     messages: {
  //       "wallet[amount]": {required: "Please enter amount.",remote: "Balance is insufficient in your wallet."}
  //     },
  //     submitHandler: function(form) {
  //       form.submit();
  //     }
  //   });
  // });
</script>