<!DOCTYPE html>
<html>
  <head>
    <title>Mera Network | The Best Social Networking Site</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application'%>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="/assets/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/style.css" />
		<link rel="stylesheet" href="/assets/ionicons.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome.min.css" />
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/fav.png"/>


  <%= alertify_flash(wait: 20) %>
  </head>

  <body>
  	<%= render 'home/common/header' %>
    <%= yield %>
    <%= render 'home/common/footer' %>
  </body>
</html>
